[advice]
    ; Don't show advice when running commands
    commitBeforeMerge = false
    detachedHead = false
    pushNonFFCurrent = false
    resolveConflict = false
    statusHints = false
[alias]
    b = branch
    ca = commit --amend --no-edit
    co = checkout
    ds = diff --staged
    du = diff @{upstream}
    pu = push --set-upstream origin HEAD
    rs = reset --soft HEAD^
    ru = reset --hard @{upstream}
    sp = stash pop
    ss = stash save --include-untracked
    st = status

    ; Delete all local branches that no longer have an upstream branch
    bd = !git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D
    ; Shell commands are executed from the root of the repository so
    ; $GIT_PREFIX is necessary when the current directory is not that (and
    ; it has to be used in a function for variable expansion)
    bl = "!f() { tig blame "$GIT_PREFIX$1"; }; f"
    cc = !git checkout . && git clean -d
    l = !tig
    r = !tig refs
    rl = !git reflog --pretty=raw | tig --pretty=raw
    sl = !tig stash
[clean]
    ; Allow clean to run without any flags
    requireForce = false
[color "diff"]
    ; Color functions in hunk headers
    func = cyan
[commit]
    ; Show diff of staged changes when using editor
    verbose = true
[diff]
    ; Show surrounding lines around changed lines in diffs
    context = 2
[fetch]
    ; Delete references to deleted remote branches when fetching
    prune = true
[pager]
    ; Don't show branches in a pager
    branch = false
    ; Use the diff-highlight script (included with Git in contrib/) to
    ; highlight what changed between pairs of lines in diffs
    diff = diff-highlight | less
    show = diff-highlight | less
[pull]
    ; Perform a rebase when pulling
    rebase = true
[push]
    ; Only push the current branch if no refspec is specified
    default = simple
[rebase]
    ; Automatically set up commits for squashing in the todo list of
    ; interactive rebases
    autoSquash = true
    ; Automatically stash and pop uncommitted changes during rebases
    autoStash = true
[stash]
    ; Display full diffs instead of summary when running stash show
    showPatch = true
[status]
    ; Show absolute project paths of files
    relativePaths = false
    ; Show individual files in untracked directories
    showUntrackedFiles = all
[user]
    ; User information
    name = Eric Wang
