#!/bin/sh

# Map caps lock to escape when tapped and to control when held
setxkbmap -option ctrl:nocaps
xcape

# Prevent the screen from going blank
xset s off
xset -dpms
xset s noblank

# Disable speaker beeps
xset -b

# Set wallpaper
sh ~/.fehbg
