#!/bin/sh

# Map caps lock to escape when tapped and to control when held
setxkbmap -option ctrl:nocaps
xcape

# Prevent the screen from going blank
xset s off
xset -dpms
xset s noblank

# Disable speaker beeps
xset -b

# Disable tap to click
synclient MaxTapTime=0

# Disable touchpad for one second after typing
syndaemon -i 1 -tkd

# Python packages
export PATH="$PATH:$HOME/.local/bin"

# Set wallpaper
sh ~/.fehbg
